.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width: 200px;
  height: 50px;
  font-size: larger;
  color: green;
  border-radius: 20px;
}
h1{
  padding: 40px;
  color: green;
  font-size: 34px;
}
